/* Author: Samuel Johnson (SmashMaster) */
/* Copyright: 2016 Samuel Johnson */
/* License: https://github.com/SmashMaster/smashmaster.github.io/blob/master/LICENSE */
body {
    margin: 0;
    background-color: #eee;
}

#body {
    font-family: "Prociono";
    font-size: 18px;
    color: #000;
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
}

.nav-tabs {
    float:none;
    display:inline-block;
    border:0px;
}

.nav-tabs > li,
.nav-tabs > li.active {
    width:128px;
    height:128px;
    padding:0px;
    border:0px;
    margin:0px;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a {
    border-radius:0px;
    padding:0px;
    border:0px;
    margin:0px;
    width:100%;
    height:100%;
    text-align:center;
    line-height: 32px;
}

.nav-tabs > li > a > .fa {
    font-size: 40px;
}

.tab-pane {
    background-color: #fff;
}

#links a {
    display: inline-block;
    font-size: 64px;
    line-height: 64px;
    vertical-align: bottom;
    padding: 0px;
    margin: 10px;
}
