/* Author: Samuel Johnson (SmashMaster) */
/* Copyright: 2014 Samuel Johnson */
/* License: https://github.com/SmashMaster/smashmaster.github.io/blob/master/LICENSE */
body {
    margin: 0;
}

/*ORBITAL DEMO STYLES*/

#demo {
    position: relative; /*Hack so that we can center stuff more easily.*/
    width: 100vmin;
    height: 100vmin;
    max-width: 75vh;
    max-height: 75vh;
    margin: 0 auto;
    background-color: #333;
}

#demo canvas {
    display: block;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.orbiter {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    visibility: hidden;
}

#sun {
    width: 40%;
    height: 40%;
    margin: -20% 0 0 -20%;
    
    -webkit-animation: sunOrbit 15.5s linear infinite;
       -moz-animation: sunOrbit 15.5s linear infinite;
         -o-animation: sunOrbit 15.5s linear infinite;
            animation: sunOrbit 15.5s linear infinite;
}

@-webkit-keyframes sunOrbit { from {
    -webkit-transform: rotate(0deg)    translateX(-10%) rotate(0deg); } to {
    -webkit-transform: rotate(-360deg) translateX(-10%) rotate(360deg); }
}
@-moz-keyframes sunOrbit { from {
       -moz-transform: rotate(0deg)    translateX(-10%) rotate(0deg); } to {
       -moz-transform: rotate(-360deg) translateX(-10%) rotate(360deg); }
}
@-o-keyframes sunOrbit { from {
         -o-transform: rotate(0deg)    translateX(-10%) rotate(0deg); } to {
         -o-transform: rotate(-360deg) translateX(-10%) rotate(360deg); }
}
@keyframes sunOrbit { from {
            transform: rotate(0deg)    translateX(-10%) rotate(0deg); } to {
            transform: rotate(-360deg) translateX(-10%) rotate(360deg); }
}

#planet-moon-system {
    width: 20%;
    height: 20%;
    margin: -10% 0 0 -10%;
    
    -webkit-animation: planetMoonSystemOrbit 15.5s linear infinite;
       -moz-animation: planetMoonSystemOrbit 15.5s linear infinite;
         -o-animation: planetMoonSystemOrbit 15.5s linear infinite;
            animation: planetMoonSystemOrbit 15.5s linear infinite;
}

@-webkit-keyframes planetMoonSystemOrbit { from {
    -webkit-transform: rotate(0deg)    translateX(175%) rotate(0deg); } to {
    -webkit-transform: rotate(-360deg) translateX(175%) rotate(360deg); }
}
@-moz-keyframes planetMoonSystemOrbit { from {
       -moz-transform: rotate(0deg)    translateX(175%) rotate(0deg); } to {
       -moz-transform: rotate(-360deg) translateX(175%) rotate(360deg); }
}
@-o-keyframes planetMoonSystemOrbit { from {
         -o-transform: rotate(0deg)    translateX(175%) rotate(0deg); } to {
         -o-transform: rotate(-360deg) translateX(175%) rotate(360deg); }
}
@keyframes planetMoonSystemOrbit { from {
            transform: rotate(0deg)    translateX(175%) rotate(0deg); } to {
            transform: rotate(-360deg) translateX(175%) rotate(360deg); }
}

#planet {
    width: 50%;
    height: 50%;
    margin: -25% 0 0 -25%;
    
    -webkit-animation: planetOrbit 2.2s linear infinite;
       -moz-animation: planetOrbit 2.2s linear infinite;
         -o-animation: planetOrbit 2.2s linear infinite;
            animation: planetOrbit 2.2s linear infinite;
}

@-webkit-keyframes planetOrbit { from {
    -webkit-transform: rotate(0deg)    translateX(-25%) rotate(0deg); } to {
    -webkit-transform: rotate(-360deg) translateX(-25%) rotate(360deg); }
}
@-moz-keyframes planetOrbit { from {
       -moz-transform: rotate(0deg)    translateX(-25%) rotate(0deg); } to {
       -moz-transform: rotate(-360deg) translateX(-25%) rotate(360deg); }
}
@-o-keyframes planetOrbit { from {
         -o-transform: rotate(0deg)    translateX(-25%) rotate(0deg); } to {
         -o-transform: rotate(-360deg) translateX(-25%) rotate(360deg); }
}
@keyframes planetOrbit { from {
            transform: rotate(0deg)    translateX(-25%) rotate(0deg); } to {
            transform: rotate(-360deg) translateX(-25%) rotate(360deg); }
}

#moon {
    width: 24%;
    height: 24%;
    margin: -12% 0 0 -12%;
    
    -webkit-animation: moonOrbit 2.2s linear infinite;
       -moz-animation: moonOrbit 2.2s linear infinite;
         -o-animation: moonOrbit 2.2s linear infinite;
            animation: moonOrbit 2.2s linear infinite;
}

@-webkit-keyframes moonOrbit { from {
    -webkit-transform: rotate(0deg)    translateX(200%) rotate(0deg); } to {
    -webkit-transform: rotate(-360deg) translateX(200%) rotate(360deg); }
}
@-moz-keyframes moonOrbit { from {
       -moz-transform: rotate(0deg)    translateX(200%) rotate(0deg); } to {
       -moz-transform: rotate(-360deg) translateX(200%) rotate(360deg); }
}
@-o-keyframes moonOrbit { from {
         -o-transform: rotate(0deg)    translateX(200%) rotate(0deg); } to {
         -o-transform: rotate(-360deg) translateX(200%) rotate(360deg); }
}
@keyframes moonOrbit { from {
            transform: rotate(0deg)    translateX(200%) rotate(0deg); } to {
            transform: rotate(-360deg) translateX(200%) rotate(360deg); }
}